# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Фильтр_3tags\JAVA_EXAM-main\Skvortsoff_version\cookies_mine\EmailPhone\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
